<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="Header">
        <h1 class="title">Groupie Tracker</h1>
    </div>
    <div class="container" id="card-container">
        {{ range $i, $artist := .artists }}
        <div class="card">
            <form action="/artist" method="POST">
                <input type="hidden" name="artist_id" value="{{ $artist.ID }}">
                <img src="{{ $artist.Image }}" alt="{{ $artist.Name }}" class="card-image">
                <h2>{{ $artist.Name }}</h2>
                <button type="submit" class="card-button">View Details</button>
            </form>
            
        </div>
        {{ end }}
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>